Source: twatch-gtk
Section:
Priority: optional
Maintainer: Roman V. Nikolaev <rshadow@rambler.ru>
Standards-Version: 3.8.3

Package: twatch-gtk
Architecture: all
Depends: twatch, libgtk-perl, libgtk2-ex-simple-list-perl
Recommends: rtorrent
Description: watch torrent trackers and automatically download new torrents
 twatch is a simple and flexible watcher torrent trackers, based on regular
 expressions. It can download new torrent files and information about them by
 customizable filters.
 .
 This package contains GTK+ interface for twatch