Source: twatch
Section: net
Priority: extra
Maintainer: Roman V. Nikolaev <rshadow@rambler.ru>
Standards-Version: 3.8.3

Package: twatch
Architecture: all
Depends: ${perl:Depends}, libtwatch-perl, logrotate
Suggests: rtorrent
Description: watch torrent trackers and automatically download new torrents
 twatch is a simple and flexible watcher torrent trackers, based on regular
 expressons. It can download new torrent files and information about them by
 customizable filters.

Package: libtwatch-perl
Architecture: all
Depends: ${perl:Depends}, libxml-simple-perl, libwww-mechanize-perl,
 libmime-lite-perl, libfile-path-perl
Description: watch torrent trackers and automatically download new torrents
 twatch is a simple and flexible watcher torrent trackers, based on regular
 expressons. It can download new torrent files and information about them by
 customizable filters.
 .
 This package contains libraries for twatch
