################################################################################
# Выполнение TWatch
#
# Рекомендуется запускать раз в час.
################################################################################
0 * * * * /usr/bin/twatch